block content
  title= title
  h1 Your app #{app_id} has been successfully installed on a user's site: #{site_display_name}
  h3 Your user's site instance ID is: #{instance_id}
  p
  h3 The user has granted you the following permissions: #{permissions}
  
  - permission_url = 'https://dev.wix.com/dc3/my-apps/' + app_id + '/workspace/permissions'
  h3 More permissions for your app in #[a(href=permission_url) Wix Developers]
  - instance_url = '/instance?token=' + token
  h3 Get your user's site data with the #[a(href='https://dev.wix.com/api/app-management.app-instance.html#get-app-instance') App Instance API] - #[a(href=instance_url) test]
  
  - products_url = '/products?token=' + token
  h3 Access your user's store catalog with the #[a(href='https://dev.wix.com/api/wix-stores.stores-catalog.html#query-products') Wix Stores Catalog API] - #[a(href=products_url) test]

  - orders_url = '/orders?token=' + token
  h3 Access your user's store orders with the #[a(href='https://dev.wix.com/api/wix-stores.stores-orders.html#query-orders') Wix Stores Orders API] - #[a(href=orders_url) test]

  - payments_url = '/payments?token=' + token
  h3 Access your user's paid transactions with the #[a(href='https://dev.wix.com/api/wix-payments.payments.html#transactions-list') Wix Payments API] - #[a(href=payments_url) test]
  
  h3 View the latest webhooks sent to your app from Wix #[a(href='/webhooks') here]
  -webhooks_url = 'https://dev.wix.com/dc3/my-apps/' + app_id + '/workspace/webhooks'
  h3 Register for webhooks to receive event data from Wix in #[a(href=webhooks_url) Wix Developers]

  